<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0b81b05ef904f1e3" />
        <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0b81b05ef904f1e3" />
    </configSections>
    <dataConfiguration defaultDatabase="SEDP" />
    <connectionStrings>
        <add name="SEDP" connectionString="Data Source=SEDP;User Id=fnsowner;Password=ctown_prod;" providerName="Oracle.DataAccess.Client" />
        <add name="SEDPP" connectionString="Data Source=SEDPP;User Id=fnsowner;Password=ctown_pp;" providerName="Oracle.DataAccess.Client" />
        <add name="SEDQA" connectionString="Data Source=SEDQA;User Id=FNSOWNER;Password=ctown_qa;" providerName="Oracle.DataAccess.Client" />
        <add name="SEDBA" connectionString="Data Source=SEDBA;User Id=FNSOWNER;Password=ctown_designer;" providerName="Oracle.DataAccess.Client" />
        <add name="SELP" connectionString="Data Source=SELP;User Id=fnsowner;Password=ctown_prod;" providerName="Oracle.DataAccess.Client" />
        <add name="SELPP" connectionString="Data Source=SELPP;User Id=fnsowner;Password=ctown_pp;" providerName="Oracle.DataAccess.Client" />
        <add name="SELQA" connectionString="Data Source=SELQA;User Id=FNSOWNER;Password=ctown_qa;" providerName="Oracle.DataAccess.Client" />
        <add name="SELBA" connectionString="Data Source=SELBA;User Id=FNSOWNER;Password=ctown_designer;" providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
    <securityCryptographyConfiguration>
        <symmetricCryptoProviders>
            <add algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" protectedKeyFilename="c:\src\fnsdata\keys\newEncryptkey.key" protectedKeyProtectionScope="LocalMachine" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0b81b05ef904f1e3" name="CallDataKey" />
        </symmetricCryptoProviders>
    </securityCryptographyConfiguration>
    <appSettings>
        <add key="FaxQueue" value="\\ltr1fx03\FaxcomQ_SMTPOPMEDIFaxQ" />
        <add key="FaxUser" value="Administrator" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="FaxManagerTimeout" value="30000" />
    </appSettings>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FAXCOM ServiceSoap" allowCookies="true" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ltr1fx03/FAXCOM_WS/FAXCOMService.asmx"
                binding="basicHttpBinding" bindingConfiguration="FAXCOM ServiceSoap"
                contract="FaxcomService.FAXCOMServiceSoap" name="FAXCOM ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>